@font-face {
    font-family: 'Barlow';
    src: url('/resources/fonts/Barlow.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('/resources/fonts/Barlow-Bold.ttf');
}

.root {
    -fx-background-color: #282a36;
}

GridPane {
    -fx-hgap: 8px;
    -fx-vgap: 8px;
}



/*** Context Menu ***/

.context-menu {
    -fx-min-width: 100px;
    -fx-background-color: #282a36;
    -fx-background-radius: 8px;
    -fx-padding: 6px 0;
}

.context-menu .separator {
    -fx-padding: 3px 0;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: #44475a transparent transparent transparent;
    -fx-border-insets: 1px 0 0 0;
}

.menu-item {
    -fx-padding: 1px 18px;
}

.menu-item:focused {
    -fx-background-color: #8be9fd;
}

.menu-item:disabled {
    -fx-opacity: 1;
}

.menu-item:disabled:focused {
    -fx-background-color: rgba(139, 233, 253, 0.38);
}

.menu-item .label {
    -fx-text-fill: #F8F8F2;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-family: "Barlow";
}

.menu-item:focused .label {
    -fx-text-fill: #282a36;
}

.menu-item:disabled .label {
    -fx-text-fill: rgba(248, 248, 242, 0.38);
}



/*** Text Field ***/

#fieldHolder {
    -fx-background-color: #44475A;
    -fx-background-radius: 18px;
}

.text-field {
    -fx-text-fill: #f8f8f2;
    -fx-font-family: "Barlow";
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

#valuesField {
    -fx-text-fill: rgba(248, 248, 242, 0.60);
    -fx-font-size: 16px;
    -fx-padding: 0 30px 0 0;
}

#inputField {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-padding: 0 30px 0 0;
}

#partialAnswerField {
    -fx-text-fill: rgba(248, 248, 242, 0.60);
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 15px;
}



/*** Buttons ***/

.button {
    -fx-text-fill: #f8f8f2;
    -fx-font-family: "Barlow";
    -fx-font-size: 25px;
    -fx-background-color: #44475A;
    -fx-background-radius: 12px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.button:hover {
    -fx-background-color: #44475A, rgba(248, 248, 242, 0.04);
}

.button:pressed {
    -fx-background-color: #44475A, rgba(248, 248, 242, 0.10);
}

.button:disabled {
    -fx-text-fill: rgba(248, 248, 242, 0.38);
    -fx-background-color: rgba(68, 71, 90, 0.88);
}

.operatorButton {
    -fx-text-fill: #282a36;
    -fx-background-color: #ffb86c;
}

.operatorButton:hover {
    -fx-background-color: #ffb86c, rgba(248, 248, 242, 0.16);
}

.operatorButton:pressed {
    -fx-background-color: #ffb86c, rgba(248, 248, 242, 0.40);
}

#equalsButton {
    -fx-text-fill: #282a36;
    -fx-background-color: #50fa7b;
}

#equalsButton:hover {
    -fx-background-color: #50fa7b, rgba(248, 248, 242, 0.16);
}

#equalsButton:pressed {
    -fx-background-color: #50fa7b, rgba(248, 248, 242, 0.40);
}

.redButton {
    -fx-font-size: 20px;
    -fx-background-color: #ff5555;
}

.redButton:hover {
    -fx-background-color: #ff5555, rgba(248, 248, 242, 0.16);
}

.redButton:pressed {
    -fx-background-color: #ff5555, rgba(248, 248, 242, 0.32);
}

.advMathFnButton {
    -fx-text-fill: #282a36;
    -fx-font-size: 18px;
    -fx-background-color: #8be9fd;
}

.advMathFnButton:hover {
    -fx-background-color: #8be9fd, rgba(248, 248, 242, 0.16);
}

.advMathFnButton:pressed {
    -fx-background-color: #8be9fd, rgba(248, 248, 242, 0.48);
}

.advMathFnButton:disabled {
    -fx-text-fill: rgba(40, 42, 54 0.38);
    -fx-background-color: rgba(139, 233, 253, 0.38);
}

.advMathFnButton .label {
    -fx-text-fill: #282a36;
    -fx-font-family: "Barlow";
}

.advMathFnButton .sigma {
    -fx-font-size: 20px;
}

.advMathFnButton .smallLetter {
    -fx-font-size: 13px;
    -fx-font-weight: normal;
}

.advMathFnButton .smallerLetter {
    -fx-font-size: 11px;
    -fx-font-weight: normal;
}